<html>
    <head>
    
            
        <style>
            
                img.img-responsive.imgage-resize {
    font-family: monospace;
    height: 350px;
    padding: 10px;
}
            
        </style>
    
    </head>

    <body >
        <!--<h5 class="head" style="text-align: center;font-size: xx-large;color:goldenrod;">Welcome To Fruits Shop</h5>-->
       
   
        
    <div class="wrapper">
        <div class="container">
           <table align="center">
               <tr>
                   <br><br>
               </tr>
               <tr>
                   <td><img class="img-responsive imgage-resize" src="../../assets/st.jpeg" alt=""/></td>
                   <td><img class="img-responsive imgage-resize" src="../../assets/apple.jpg" alt=""/></td>
                   <td><img class="img-responsive imgage-resize" src="../../assets/anar.jpeg" alt=""/></td>
                  
               </tr>
               <tr>
                   <td>
                    <b>Name:  Strawberry</b>
                    <br/><br/>
                    <b>Price: 400&#8377;kg </b><br/><br/>
                    <b>Quantity/kg:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>
                   <td>
                    <b>Name:  Apple</b>
                    <br/><br/>
                    <b>Price: 180&#8377;kg </b><br/><br/>
                    <b>Quantity/kg:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>
                   <td>
                    <b>Name:Pomegranate</b>
                    <br/><br/>
                    <b>Price: 90&#8377;kg </b><br/><br/>
                    <b>Quantity/kg:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>
                   
                
               </tr>
               
               <tr>
                   <td align="center" class="button">
                       <br>
                       <button>Add to Cart</button>
                   </td>
                   <td align="center" class="button">
                    <br>
                    <button>Add to Cart</button>
                </td>
                <td align="center" class="button">
                    <br>
                    <button>Add to Cart</button>
                </td>
               
               </tr>
               <tr>
                <td><hr/></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
               <tr>
                   <br><br>
               </tr>

              
            
            <tr>
                <td><img class="img-responsive imgage-resize" src="../../assets/banana.jpeg" alt=""/></td>
                <td><img class="img-responsive imgage-resize" src="../../assets/chiku.jpeg" alt=""/></td>
                <td><img class="img-responsive imgage-resize" src="../../assets/cust.jpeg" alt=""/></td>
               
            </tr>
            <tr>
                <td>
                 <b>Name:banana</b>
                 <br/><br/>
                 <b>Price: 38&#8377; </b><br/><br/>
                 <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
                <td>
                 <b>Name:Sapodilla</b>
                 <br/><br/>
                 <b>Price: 100&#8377;kg </b><br/><br/>
                 <b>Quantity/kg:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
                <td>
                 <b>Name:Custard Apple</b>
                 <br/><br/>
                 <b>Price: 150&#8377;kg </b><br/><br/>
                 <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
               
            </tr>
            <tr>
                <td align="center" class="button">
                    <br>
                    <button>Add to Cart</button>
                </td>
                <td align="center" class="button">
                 <br>
                 <button>Add to Cart</button>
             </td>
             <td align="center" class="button">
                 <br>
                 <button>Add to Cart</button>
             </td>
             
            </tr>
            <tr>
                <td><hr/></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                <br><br>
            </tr>
            <tr> <br>
                
                <tr>
                    <td><img class="img-responsive imgage-resize" src="../../assets/avacado.jpeg" alt=""/></td>
                    <td><img class="img-responsive imgage-resize" src="../../assets/mango.jpeg" alt=""/></td>
                    <td><img class="img-responsive imgage-resize" src="../../assets/orange.jpeg" alt=""/></td>
                   
                </tr>
                <tr>
                    <td>
                     <b>Name:Avacado</b>
                     <br/><br/>
                     <b>Price: 300&#8377;kg </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                    <td>
                     <b>Name:Mango</b>
                     <br/><br/>
                     <b>Price: 250&#8377;kg </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                    <td>
                     <b>Name:Orange</b>
                     <br/><br/>
                     <b>Price: 60&#8377;kg </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                   
                </tr>
                <tr>
                    <td align="center" class="button">
                        <br>
                        <button>Add to Cart</button>
                    </td>
                    <td align="center" class="button">
                     <br>
                     <button>Add to Cart</button>
                 </td>
                 <td align="center" class="button">
                     <br>
                     <button>Add to Cart</button>
                 </td>
            
                </tr>
                <tr>
                    <td><hr/></td>
                    <td><hr></td>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr>
                    <br><br>
                </tr>
                <tr>
                  
                        <td><img class="img-responsive imgage-resize" src="../../assets/melon.jpeg" alt=""/></td>
                        <td><img class="img-responsive imgage-resize" src="../../assets/kiwi.jpeg" alt=""/></td>
                        <td><img class="img-responsive imgage-resize" src="../../assets/water.jpeg" alt=""/></td> 
                
                    </tr>
                    <tr>
                        <td>
                            <b>Name: Melon</b>
                            <br/><br/>
                            <b>Price: 38&#8377;kg </b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <td>
                            <b>Name: Kiwi</b>
                            <br/><br/>
                            <b>Price: 300&#8377;packet</b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <td>
                            <b>Name:watermelon</b>
                            <br/><br/>
                            <b>Price: 40&#8377;kg</b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <tr>
                            <td align="center" class="button">
                                <br>
                                <button>Add to Cart</button>
                            </td>
                            <td align="center" class="button">
                                <br>
                                <button>Add to Cart</button>
                            </td>
                            <td align="center" class="button">
                                <br>
                                <button>Add to Cart</button>
                            </td> 
                           </tr>
                    
           </table>
        </div>
    </div>
    <div class=""  style="color:whitesmoke;background-color:green;" align="center">
    
        <footer class="footer">
    <div class="container">
        <tr>
            <td><h3>Follow Us On</h3> <img src="../../assets/wp.png" style="height: 50px;"/>&nbsp;&nbsp;   <img src="../../assets/tv.jpg" style="height: 50px;"/> &nbsp;&nbsp; <img src="../../assets/fff.png" style="height: 50px;"/></td>
        </tr>
    
        <tr><hr></tr>
            
        <tr align="center">
            <td><p><b>Shop Address:</b> &nbsp;&nbsp;&nbsp;&nbsp;   <b>MP Fruits Shop</b> ,kothrud,paud road,Pune 41001.</p></td>
        </tr>
    
    </div>
    </footer>
        
    </div>
    </body>
</html>