



<!--<nav >

    <a routerLink="/body" routerLinkActives="active">body</a>
    <a routerLink="/login" routerLinkActives="active">login</a>

</nav>-->


<html>
   <div  style="text-align: center;">
            
             
            <img class="image" src="../../assets/rr.jpg"/>&nbsp;
             
            </div>

  <h5 class="head"  style="text-align: center;font-size: xx-large; background-color: indigo; color:goldenrod;">Welcome To Fruits Shop</h5>
  <body>

<div class="header" >
    <a  class="logo">Pathans Fruits Shop</a>
    <div class="header-right">
      <a class="active" routerLink="/body" routerLinkActives="active" >Home</a>
      <a routerLink="/login" routerLinkActives="active">Login</a>
      <a routerLink="/register" routerLinkActives="active">Registration</a>
      <a routerLink="/contact" routerLinkActives="active">contact</a>
    </div>
  </div>  

  <marquee height="30" direction="alternate" bgcolor="darkkhaki" > <b >Delivery of fruits Time from 6:00am to 8:00pm </b> </marquee>
  </body>
</html>
  <router-outlet></router-outlet>






<!-- <app-homepage></app-homepage> -->

<!--<app-header></app-header> -->
<!--<app-body></app-body> -->
<!-- <app-footer></app-footer>-->

<!-- <app-login-page></app-login-page>-->