  
<form>
    <div class="container" align="center">
      <h1>Registeration</h1>
      
      <hr>
    
      <label for="Username"><b>Username</b></label>
      <input type="text" placeholder="Enter username" name="username" id="user" required>

      <label for="psw"><b>Mobile No</b></label>
      <input type="password" placeholder="Enter Mobile number" name="number" id="num" required>
      <label for="psw"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="psw" id="psw" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
<div>
      
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    
    </div>
    
    
    </form> 